[workspace]
resolver = "2"
members = [
    "analog",
    "messages",
    "pdm",
    "pdm-20",
    "pdm-20-bootloader",
    "pdm-36",
    "pdm-36-bootloader",
    "pdm-tool",
    "vpd",
    "xtask",
]

[workspace.dependencies]
messages = { path = "messages" }
vpd = { path = "vpd", features = ["defmt-1"] }
analog = { path = "analog" }
pdm = { path = "pdm" }
saelient = { git = "https://github.com/umi-eng/saelient.git", default-features = false }
