name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: thumbv7em-none-eabihf
          components: rustfmt

  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Cache Rust
        uses: swatinem/rust-cache@v2
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: thumbv7em-none-eabihf
      - run: cargo install flip-link --version 0.1.10
      - name: std crates
        run: |
          cargo check \
            -p messages \
            -p pdm \
            -p pdm-tool
      - name: no_std crates
        run: |
          cargo check --target thumbv7em-none-eabihf \
          -p pdm-36 \
          -p pdm-36-bootloader \

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          targets: thumbv7em-none-eabihf
          components: clippy
      - name: std crates
        run: |
          cargo clippy --all-features --locked \
            -p messages \
            -p pdm \
            -p pdm-tool \
            -- -D warnings
      - name: no_std crates
        run: |
          cargo clippy --all-features --locked \
          -p pdm-36 \
          -p pdm-36-bootloader \
          -- -D warnings --target thumbv7em-none-eabihf
